/* цвет лого 000000 */
/* цвет лого 2196F3 */
/* цвет активной ссылки 2196F3 */
/* цвет ссылки в навигиции 212121 */
/* цвет номера телефона в footer 757575 */
/* цвет героя FFFFFF */
/* цвет эл. адреса и телефона в footer 255, 255, 255, 0.6*/
/* цвет героя FFFFFF */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}
